.border{
    border: 2px solid red;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2e2e2e; /* Background of the track */
}

::-webkit-scrollbar-thumb {
    background-color: #4a4a4a; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #2e2e2e; /* Adds space around the thumb */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #4a4a4a #2e2e2e;
}
